services:
#  backend-migrate:
#    image: ghcr.io/allen-xavier/megga-bolao-backend:latest
#    entrypoint: ["sh", "-c", "sleep 30 && npx prisma migrate deploy"]
#    working_dir: /app
#    environment:
#      DATABASE_URL: postgresql://megga:PgPW_9tqL2sV5mX8rJ1c@db:5432/megga_bolao?schema=public
#    depends_on:
#      - db
#    networks:
#      - internal
#    deploy:
#      restart_policy:
#        condition: none
    
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: megga
      POSTGRES_PASSWORD: PgPW_9tqL2sV5mX8rJ1c
      POSTGRES_DB: megga_bolao
      TZ: America/Sao_Paulo
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 10
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - redis_data:/data
    networks:
      - internal
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager

  backend:
    image: ghcr.io/allen-xavier/megga-bolao-backend:latest
    environment:
      DATABASE_URL: postgresql://megga:PgPW_9tqL2sV5mX8rJ1c@db:5432/megga_bolao?schema=public
      REDIS_URL: redis://redis:6379
      WEB_ORIGIN: https://app.allentiomolu.com.br
      JWT_SECRET: jwtsec_D2c9L1mR0zVn8Qp4Xk5aS7wT3uY6hJ0b
      JWT_REFRESH_SECRET: jwtref_A7m9Q1t6V4p2Z8k3s5R0xN1yW6gH4dC
      ACCESS_TOKEN_TTL: 86400
      REFRESH_TOKEN_TTL: 2592000
      EVOLUTION_API_URL: https://sua-api-evolution.exemplo
      EVOLUTION_API_TOKEN: evo_tok_v73ZpL9qR2sX6uB4tM1nY8c
      SUITPAY_API_URL: https://sandbox.ws.suitpay.app
      SUITPAY_CLIENT_ID: megpagamentosgmailcom_1748886092994
      SUITPAY_CLIENT_SECRET: ed7ef724861b245e6d700245746db5e5f02772fd5c7442c1e02f7105bdba661e3f04849c955f4c5789bd553c4c56ad9e
      SUITPAY_WEBHOOK_SECRET: ""
      SUITPAY_WEBHOOK_DEBUG: "true"
      PORT: 3001
      TZ: America/Sao_Paulo
    depends_on:
      - db
#      - backend-migrate
    volumes:
      - backend_storage:/app/storage
    networks:
      - internal
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure

  frontend:
    image: ghcr.io/allen-xavier/megga-bolao-frontend:latest
    environment:
      NEXT_PUBLIC_API_BASE: https://app.allentiomolu.com.br/api
      NEXTAUTH_URL: https://app.allentiomolu.com.br
      NEXTAUTH_SECRET: nextauth_9rP6wJ3yV8uL2cQ4sT7gZ1mB5hF0xDa
      TZ: America/Sao_Paulo
    networks:
      - internal
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure



  nginx:
    image: ghcr.io/allen-xavier/megga-bolao-nginx:latest
    entrypoint: ["sh", "-c", "sleep 1 && nginx -g 'daemon off;'"]
    depends_on:
      - frontend
    environment:
      TZ: America/Sao_Paulo
    networks:
      - internal
      - traefik
    labels:
      - traefik.enable=true
      - traefik.docker.network=minharede
      - traefik.http.routers.megga.rule=Host(`app.allentiomolu.com.br`)
      - traefik.http.routers.megga.entrypoints=websecure
      - traefik.http.routers.megga.tls=true
      - traefik.http.routers.megga.tls.certresolver=letsencryptresolver
      - traefik.http.routers.megga.priority=1
      - traefik.http.routers.megga.service=megga
      - traefik.http.routers.megga.middlewares=megga-sslheader
      - traefik.http.services.megga.loadbalancer.server.port=80
      - traefik.http.services.megga.loadbalancer.passHostHeader=true
      - traefik.http.middlewares.megga-sslheader.headers.customrequestheaders.X-Forwarded-Proto=https
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true
        - traefik.docker.network=minharede
        - traefik.http.routers.megga.rule=Host(`app.allentiomolu.com.br`)
        - traefik.http.routers.megga.entrypoints=websecure
        - traefik.http.routers.megga.tls=true
        - traefik.http.routers.megga.tls.certresolver=letsencryptresolver
        - traefik.http.routers.megga.priority=1
        - traefik.http.routers.megga.service=megga
        - traefik.http.routers.megga.middlewares=megga-sslheader
        - traefik.http.services.megga.loadbalancer.server.port=80
        - traefik.http.services.megga.loadbalancer.passHostHeader=true
        - traefik.http.middlewares.megga-sslheader.headers.customrequestheaders.X-Forwarded-Proto=https

networks:
  internal:
    driver: overlay
    attachable: true
  traefik:
    external: true
    name: minharede

volumes:
  db_data:
    driver: local
  redis_data:
    driver: local
  backend_storage:
    driver: local
