@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-50 min-h-screen;
}

.container-app {
  @apply mx-auto max-w-5xl px-4;
}
